* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(192, 211, 228);
}

.heading {
    text-align: center;
}

img {
    width: 400px;
    border-radius: 20px;
}

.recipeslist{
    list-style-type: none;
    padding: 10px;
}

.fpb {
    background-color: rgb(192, 211, 228);
    font-size: 18px;
}

.ingredientslist {
    list-style-position: inside;
    list-style-type: disc;
    padding: 1px;
    margin: 10px;

}

.steps {
    list-style-type: decimal;
    padding: 5px;
    margin: 10px;
}